.home {
  background: #141414;
  min-height: 100vh;
  /* padding-top: 5px; */
  color: white;
}

/* Section */
.row {
  margin-bottom: 40px;
  padding: 0 20px;
}

.row h2 {
  margin-bottom: 16px;
  font-size: 20px;
}

/* Movie row */
.movie-row {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-width: none;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

/* Movie card */
.movie-card {
  min-width: 140px;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s;
}

.movie-card img:hover {
  transform: scale(1.08);
}

.movie-card p {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}
