.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eee;
  z-index: 100;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #888;
  text-decoration: none;
}

.tab svg {
  font-size: 20px;
  margin-bottom: 4px;
}

.tab.active {
  color: #ff7a00;
}
