.header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;

}

.search-box {
    flex: 1;
    display: flex;
    align-items: center;
    border: 2px solid #ff7a00;
    border-radius: 999px;
    padding: 8px 12px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 6px;
}

.header-icon span {
    font-size: 20px;
    margin-left: 8px;
}